.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact p {
    font-size: 1.5rem;
}

.contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon {
    height: 4rem;
    width: 100%;
    padding-left: 3rem;
    padding-top: 2rem;
}

/* Nav Bar Styling */

@media screen and (max-width: 650px) {
    .nav-item {
        font-size: 3vw;
    }
  
    .logo-image {
        height: 5rem;
        max-width: 100%;
    }
    
}