
.body {
    
    
}


/* Navigation Bar Styling */
.nav-bar {
    margin: 0rem;
    padding: 0rem;
    background-color: #0D0D0D;
    
}

#logo {
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.logo-image {
    padding-top: 0.5rem;
    height: 8rem;
    width: 8rem;
}

.nav-items a, #logo {
    color: white;
    padding-bottom: 0.75rem;
    padding-right: 0.625;
    margin-right: 0.75rem;
    text-decoration: none;
  
}

.nav-items {
    color: white;
    display: inline-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}


.nav-highlight:hover {
    color: gray;
    transition: opacity 0.15;
}
/* Main Page Styling*/

.main-page {
    display: flex;
    margin:0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    background-image:linear-gradient(to right, transparent 0%, #F2A922 45%, #0046D4 80%, transparent 120%), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIklEQVQoU2N89+7dfwYsQEhIiBEkzDgkFGDzAbIY2Cv4AACvrBgJjYNGfwAAAABJRU5ErkJggg==);
    /*Credits -> From: https://freefrontend.com/css-background-patterns/ - created by Chris Smith on January 30, 2019*/

    
}

.title-intro {
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.title-intro h1 {
    margin-left: 10rem;
    transition: opacity 0.15s;
    font-size: 2.5rem;
    
}

.title-intro h1:hover {
    cursor: pointer;
    animation: color-change 5s infinite;
}

@keyframes color-change {
  0% { color: rgb(0, 0, 0); }
  25% {color: #0046D4}
  50% { color: rgb(134, 5, 95); }
  75% {color: rgb(3, 165, 89)}
  100% { color:#01246b; }
}


.display-picture {
    object-fit: cover;
    width: 50rem;
    height: 50rem;
    padding-left: 4rem;
    margin-left: 15rem;
    margin-right: 13rem;
    padding-bottom: 3rem;
    border-radius: 100%;
    
    

}

.display-picture:hover {
    filter: drop-shadow(1rem 0 0.5rem #01000f);
    border-radius: 0%;
    cursor: pointer;
   
}

.display-box {
    display: flex;
}

/*About Section Styling*/

.about {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
  
    

}
    

.about-info {
    margin-left: 15rem;
  
}

.about img {
    margin-left: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 35rem;
    height: 35rem;
    
   
}


.about-title {
    margin-top: 0rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    font-size: 2rem;
    
}

.about-title, p {
    color: black;
}

.about p {
    font-size: 1.25rem;
    margin: 0rem;
    padding-bottom: 2rem;
}

.cooking-image {
    display: flex;
   
}

/*Projects Section Styling*/

.projects {
    background-image: linear-gradient(to right, rgba(255,0,0,0), #0046D4);
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    margin-left: 15rem;
  
    
}

.projects h2 {
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-top: 1.5rem;
    font-size: 2rem;
}


.projects-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1.25rem;
  }
  .project-grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.projects-list {
    margin-bottom: 0rem;
}

.project-grid-item a img {
}
    
#projec-title {
    padding-top: 5rem;
    
}

#project-title a {
    padding-top: 6rem;
    text-decoration: none;
    font-weight: bolder;
}

#project-title a:visited {
    color: black;
}

#project-title:hover {
    cursor: pointer;
}

#results-summary-project {
    padding-top: 5rem;
}


#QR {
    padding-top: 4rem;
}

/*Technologies Styling Section*/

.technologies {
    background-image: linear-gradient(to right, rgba(255,0,0,0), #F2A922);
    margin-top: 0rem;
    margin-left: 15rem;
  
}

.technologies img {
    height: 4rem;
    width: 4rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    transition: padding 0.15s;
}

.technologies img:hover {
    cursor: pointer;
    padding-bottom: 1rem;
}

.technologies h2 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 0rem;
    font-size: 2rem;
    
}

/* Footer Styling */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(255,0,0,0), #0046D4);
    font-size: 1.25rem;
    padding-bottom: 1rem;
    
}

.footer h2 {
    padding: 1.25rem;
    color:white;
    margin: 0rem;
}

.copyright img {
    vertical-align: bottom;
    padding-right: 0.5rem;
    padding-top: 1rem;
 
}

.copyright a {
    font-weight: bolder;
}